h1 {
  text-align: center;
}
body {
  background-color: beige;
}
.marginL {
  margin-left: 30px; 
  margin-top: 15px;
}
.italic {
  font-style: italic;
}
#sources {
  position: absolute;
  bottom: 10px;
}
